<h2>You are in a forest.</h2>
<p>Three paths appear before you. They are indistinguishable from each other.
You can only tell them apart because of their position. That is, you have
three paths ahead of you:
    <ul>
        <li>The left path.</li>
        <li>The middle path.</li>
        <li>The right path (not, however, necessarily the correct path)</li>
    </ul>
Despite appearances, you don't actually have a choice. You are shoved down the
middle path by a passing bear who vanishes into the woods a few minutes later.
What will you do?</p>