div.entry
{
    width:800px;
    padding:10px 35px;
    background-color: #D8D8E0;
    text-align:left;
    font-family:"Merriweather";
    font-size:15px;
    margin-left: auto;
    margin-right: auto;
}

h1.mainheader
{
    font-family:"Cagliostro";
    text-align:center;
    margin-top:30px;
    margin-bottom:5px;
    padding:0px;
}